**/*.log
**/*#
**/roostats*
src/**/*.png
src/**/*.pdf
src/**/*.eps
**/*~
**/*root
**/*exe
**/*stdout
**/*stderr
**/*condor
**/*tar
**/*dag*
**/*pyc
src/*/
**/*.d
**/*.so
**/*.pcm
plots/*
scripts/*
bin/*
!data/PileupHistograms_0121_69p2mb_pm4p6.root